<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Image Processing API</title>
</head>

<body>
    <% if (thumbnail) { %>
        <!-- Show Thumbnail -->
        <img src="http://localhost:3000/images/<%= thumbnail %>" alt="full-<%= thumbnail %>" />
        <% } %>
</body>

</html>